* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: url(../../pictures/bg.webp) no-repeat fixed center;
    background-size: cover;
}

#header, .container{
    background: url(../../pictures/bg.webp) no-repeat fixed;
    background-size: cover;
}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#regForm, #loginForm{
    backdrop-filter: blur(20px);
}

#loginD {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}


h1 {
    margin-bottom: 20px;
    font-size: 50px;
    text-shadow: black 1.7px 1.7px;

}


#output{
    margin-top: 30px;
    width: 80%;
    max-width: 600px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: black 0px 0px 20px;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.recognized-text {
    font-size: 20px;
    border-bottom: 1px solid white;
    color: lightgray;
    margin-bottom: 10px;
    height: 50px;
}

.ai-response {
    font-size: 30px;
    flex-grow: 1
}


/* loader inspired from: https://uiverse.io/abrahamcalsin/breezy-panther-14 */
.loaderRectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.loaderRectangle div {
    width: 10px;
    height: 16px;
    background: white;
    animation: rectangleAnim 0.5s ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}


@keyframes rectangleAnim {
    0% {
        height: 15px;
    }
    40% {
        height: 30px;
    }
    100% {
        height: 15px;
    }
}


.loaderRectangle div:nth-child(1) {
    animation-delay: 0s;
}

.loaderRectangle div:nth-child(2) {
    animation-delay: 0.1s;
}

.loaderRectangle div:nth-child(3) {
    animation-delay: 0.2s;
}

.loaderRectangle div:nth-child(4) {
    animation-delay: 0.3s;
}

.loaderRectangle div:nth-child(5) {
    animation-delay: 0.4s;
}


/*button inspired from: https://uiverse.io/andrew-demchenk0/yellow-otter-87 */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 40px;
    width: 114px;
    border: none;
    background: #1b1b1cde;
    border-radius: 20px;
    cursor: pointer;
}

.lable {
    line-height: 20px;
    font-size: 17px;
    color: #FF342B;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.button:hover {
    background: #1b1b1c;
}

.button:hover .svg-icon {
    animation: scale 1s linear infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05) rotate(10deg);
    }

    100% {
        transform: scale(1);
    }
}

/* menu inspired from: https://uiverse.io/Pradeepsaranbishnoi/slimy-warthog-37 */
.mydict {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    z-index: 1000;
}

.mydict div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mydict input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em black;
    background-color:  #1b1b1cde;
    z-index: 1;
    color: white;
}

label span {
    display: block;
    cursor: pointer;
    background-color: lightgray;
    padding: 0.375em 0.75em;
    position: relative;
    margin-left: 0.0625em;
    box-shadow: 0 0 0 0.0625em black;
    letter-spacing: 0.05em;
    color: #3e4963;
    text-align: center;
    transition: background-color 0.5s ease;
}

label:first-child span {
    border-radius: 0.375em 0 0 0.375em;
}

label:last-child span {
    border-radius: 0 0.375em 0.375em 0;
}

label span:hover {
    background-color: white;
}

label span:active {
    box-shadow: 0 0 0 0.0625em black;
}

/* socials inspired from: https://uiverse.io/kamehame-ha/kind-otter-31 */
.github-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.github-button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.github-button svg path {
    transition: 400ms;
}

.github-button:hover {
    background-color: transparent;
}

.github-button:hover .text {
    color: #181717;
}

.github-button:hover svg path {
    fill: #181717;
}

/* user design inspired from: https://uiverse.io/devkatyall/fuzzy-warthog-26 */

.popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: #1b1b1cde;
    --burger-color: #333;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 3.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: 0.3s;
    --burger-transition: all 0.1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: 0.95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, 0.2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #eee;
    --nav-font-family: "Poppins", sans-serif;
    --nav-default-scale: 0.8;
    --nav-active-scale: 1;
    --nav-position-left: 0;
    --nav-position-right: unset;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    /* title */
    --nav-title-size: 0.625em;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 17px;
    --nav-button-hover-bg: #00bf63;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
}

/* popup settings 👆 */

.popup {
    display: inline-block;
    text-rendering: optimizeLegibility;
    position: relative;
}

.popup input {
    display: none;
}

.burger {
    top: 0.3rem;
    left: 0.3rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--burger-bg);
    width: var(--burger-diameter);
    height: var(--burger-diameter);
    border-radius: var(--burger-btn-border-radius);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: var(--burger-transition);
    outline: var(--burger-enable-outline-width) solid transparent;
    outline-offset: 0;
}

.popup-window {
    transform: scale(var(--nav-default-scale));
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: var(--nav-padding-y) var(--nav-padding-x);
    background: var(--nav-bg);
    font-family: var(--nav-font-family);
    color: var(--nav-text-color);
    border-radius: var(--nav-border-radius);
    box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
    border: var(--nav-border-width) solid var(--nav-border-color);
    top: calc(
            var(--burger-diameter) + var(--burger-enable-outline-width) +
            var(--burger-enable-outline-offset)
    );
    left: var(--nav-position-left);
    right: var(--nav-position-right);
    transition: var(--burger-transition);
    margin-top: 10px;
}

.popup-window legend {
    padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
    margin: 0;
    color: var(--nav-title-color);
    font-size: var(--nav-title-size);
    text-transform: uppercase;
}

.popup-window ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popup-window ul button {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    color: var(--burger-color);
    font-size: var(--nav-button-font-size);
    padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
    white-space: nowrap;
    border-radius: var(--nav-button-border-radius);
    cursor: pointer;
    column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
    color: #00bf63;
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
    color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
    color: red;
}

.popup-window hr {
    margin: var(--underline-margin-y) 0;
    border: none;
    border-bottom: var(--underline-border-width) solid
    var(--underline-border-color);
}

/* actions */

.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
    color: var(--nav-button-hover-text-color);
    background: var(--nav-button-hover-bg);
}

.burger:hover {
    transform: scale(var(--burger-hover-scale));
}

.burger:active {
    transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
    outline-color: var(--burger-enable-outline-color);
    outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked + .burger span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.popup input:checked + .burger span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.popup input:checked + .burger span:nth-child(3) {
    transform: translateX(
            calc(var(--burger-diameter) * -1 - var(--burger-line-width))
    );
}

.popup input:checked ~ nav {
    transform: scale(var(--nav-active-scale));
    visibility: visible;
    opacity: 1;
}



/* login form inspired from: https://uiverse.io/bociKond/dull-mole-77 */

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

/* Form styles */
.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"],
input[type="text"]{
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus,
input[type="text"]:focus{
    outline: 2px solid var(--clr);
}

.label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

.form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

.form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
}

.span {
    text-decoration: none;
    color: var(--bg-dark);
}

.span a {
    color: var(--clr);
}

/* back button */
.back-button {
    padding: 1rem 1rem;
    width: 100%;
    max-width: 150px;
    border-radius: 3rem;
    background-color: #707070;
    color: #efefef;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 1rem;
    transition: all 300ms;
}

.back-button:hover {
    background-color: #58bc82;
    color: #707070;
}